.dropdown-menu{
    background-color: #171a1a !important;
    color: #fff !important;
}
.navbar{
    margin-left: 15rem;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #fff !important;
    background-color: mediumblue !important;
}
.dropdown-item{
    color: #fff !important;
}
.btn-group-vertical>.btn, .btn-group>.btn{
    color:"#fff" !important;
}
.dropdown-toggle{
    color: #fff !important;
}
.btn{
    color: #fff !important;
}
button{
    color: #fff !important;
   
}
.btn:hover{
    background-color: mediumblue !important;
}
.dropend .dropdown-menu{
    margin-left: 45px !important;
}