.dropend .dropdown-menu{
    margin-left: 45px !important;
}
.dropend {
    margin-left: 45px !important;
}
.dropdown-menu{
    margin-left: 45px !important;
}
.bottonTecnologia{
    margin-left: 45px !important;
}
.dropend .dropdown-menu[data-bs-popper]{
    margin-left: 45px !important;
}
.btn-secondary{
    background-color: black !important;
    border-color: black !important;
}
.dropdown-toggle{
    background-color: none !important;
    border-color: none !important;
}
.btn{
    color:#fff !important;

}
.btn-group{
    color:#fff !important;
}
.btn-group-vertical>.btn, .btn-group>.btn{
    color: #fff !important;
}
.btn-group-vertical>.btn, .btn-group>.btn{
    color: #fff !important;
}